<!--bu maindagi slaydir carusel-->

{% load static %}

<div class="owl-carousel">
                    <div class="owl-carousel_block">
                        <h3 class="owl-carousel_block-title">You may also like</h3>
                    </div>
                    <div class="owl-carousel_block owl-carousel_block-bg">
                        <div class="owl-carousel_block-content">
                            <img src="{% static 'store/images/slider_braceletes.png' %}" alt="">
                        </div>
                        <a href="" class="owl-carousel_block-hover">
                            <p class="owl-carousel_block-desc">Braceletes</p>
                        </a>
                    </div>
                    <div class="owl-carousel_block owl-carousel_block-bg">
                        <div class="owl-carousel_block-content">
                            <img src="{% static 'store/images/slider_chain.png' %}" alt="">
                        </div>
                        <a href="" class="owl-carousel_block-hover">
                            <p class="owl-carousel_block-desc">Chain</p>
                        </a>
                    </div>
                    <div class="owl-carousel_block owl-carousel_block-bg">
                        <div class="owl-carousel_block-content">
                            <img src="{% static 'store/images/slider_rings.png' %}" alt="">
                        </div>
                        <a href="" class="owl-carousel_block-hover">
                            <p class="owl-carousel_block-desc">Rings</p>
                        </a>
                    </div>
                </div>